.main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: white;
}

.head_section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/Header_bg.png");
  background-size: cover;
  height: 779px;
  width: 100%;
  max-width: 1440px;
}

.head_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/Group78.png");
  height: 462px;
  width: 1272px;
  font-family: 'Alike', serif;
  font-weight: 300px;

}

.eventlist_heading {
  Width: 100%;
  max-width: 1440px;
  Height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: Roboto;
  text-align: left;
  margin-top: 105px;
}

.eventlist_heading_item1 {
  display: flex;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0em;
  color: black;
  font-family: Roboto;
  text-align: left;

}

.eventlist_heading_item2 {
  display: flex;
  align-items: flex-end;
  font-weight: 500px;
  font-size: 20px;
  right: 0px;
}

.event_list {
  display: flex;
  width: 100%;
  max-width: 1440px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 136px;
  margin-top: 105px;
}

.more_events {
  height: 46px;
  width: 175px;
  border-radius: 23px;
  background-color: #270F33;
  margin-top: 76px;
  margin-bottom: 80px;
  font-weight: 500px;
  font-size: 20px;
}