.header {
    padding: 0;
    margin: 0;
    height: 102px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    background-color: #270F33;
}

.hamburger_menu {
    display: none;
}

.header_content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-width: 1440px;

}

.nav_items {
    display: flex;
    gap: 21px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400px;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.search_container {
    display: flex;
}

.search_bar {
    Width: 435px;
    Height: 34px;
    border-radius: 25px;
    padding-left: 2rem;
    background: none;
}

.search_image {
    overflow: visible;
    position: absolute;
    margin-left: 1rem;
    margin-top: 0.4rem;
    cursor: pointer;

}

/* Dropdown Menu */
.dropdown_list {
    margin: 0;
    display: none;
    background-color: #828470;
    box-shadow: 0px 4px 8px 1px #535547;
}

/* footer section */
.footer {
    padding: 0;
    margin: 0;
    height: 451px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #270F33;
}

.footer_content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 1440px;
}

.footer_column1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5.5rem;
}

.footer_column2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5.5rem;
}

.nav_items_footer {
    display: flex;
    gap: 51px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400px;
    line-height: 16px;
    letter-spacing: 0em;
}

.social_icons {
    display: flex;
    gap: 21px;
}

.event_updates {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 202px;
    width: 730px;
    border: solid;
    border-color: #FBD07A;
    border-radius: 8px;
}

.event_updates_input_container {
    display: flex;
}

.event_updates_input {
    flex: 1;
    background-color: #FFFFFF;
    height: 75px;
    width: 541px;
    border-radius: 7px;
    padding-left: 1rem;
    margin-top: 1rem;
}

.submit_button {
    overflow: visible;
    position: relative;
    margin-left: -8rem;
    margin-top: 2.2rem;
    background-color: #FBD07A;
    color: black;
    height: 45.039371490478516px;
    width: 104px;
    border: none;
    border-radius: 8.188976287841797px;
    cursor: pointer;
}

.side_columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    gap: 1rem;
}

.mobile_footer_contact_us {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 0.5rem;
}

.copyrights {
    display: flex;
    justify-content: flex-end;
}

.mobile_footer_content {
    display: none;
}


@media (min-width: 320px) and (max-width: 420px) {

    .nav_items,
    .search_container,
    .footer_content {
        display: none;
    }

    .nav_items.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 6rem;
        left: 0;
        right: 0;
        background-color: black;
        z-index: 1;
        padding: 10px;
    }

    .hamburger_menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 24px;
        height: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .line {
        display: block;
        width: 100%;
        height: 3px;
        background-color: white;
        border-radius: 3px;
        transition: all 0.2s ease-in-out;
    }

    .mobile_footer_content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .mobile_footer_links {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }

    .mobile_event_updates {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 97px;
        width: 284px;
        border: solid;
        border-color: #FBD07A;
        border-radius: 8px;
    }

    .mobile_event_updates_input {
        background-color: #FFFFFF;
        height: 32px;
        width: 235px;
        border-radius: 7px;
        padding-left: 1rem;
        margin-top: 1rem;
    }

    .mobile_submit_button {
        overflow: visible;
        position: relative;
        margin-left: -4rem;
        margin-top: 2.2rem;
        background-color: #FBD07A;
        color: black;
        height: 19px;
        width: 51px;
        border: none;
        border-radius: 8.188976287841797px;
        cursor: pointer;
        font-size: 7.8px;
    }

    .mobile_footer_copyright {
        display: flex;
        justify-content: flex-end;
        font-size: 10px;
        margin-top: 2rem;
    }


}

@media (min-width: 421px) and (max-width: 1034px) {

    .nav_items,
    .search_container,
    .footer_content {
        display: none;
    }
}